---
vms:

  # NOTE: All `box:` declarations in this example point to
  # int-resources.puppetlabs.net and require VPN acces to download.

  - name: pe-201810-agent-win2012
    debug-kit: true
    hostname: pe-201810-agent-win2012
    box: windows-2012r2-x64-virtualbox-nocm
    providers:
      - type: openstack
        image: 'windows_2012_r2_std_eval_x86_64'
        # Image requires more disk space than g1.medium
        flavor: d1.medium
      - type: vsphere
        template_name: 'cs-general/templates/win-2012r2-x86_64'
    roles:
      - windows
      - medium-size
      - base

  - name: pe-201810-agent-win2008
    debug-kit: true
    hostname: pe-201810-agent-win2008
    box: windows-2008r2-x64-virtualbox-nocm
    providers:
      - type: vsphere
        template_name: 'cs-general/templates/win-2008r2-x86_64'
    roles:
      - windows
      - 2gb-memory
      - base


  - name: pe-201810-agent-solaris10
    box: solaris-10u11-i387-virtualbox-nocm
    debug-kit: true
    roles:
      - base

  - name: pe-201810-agent-solaris11
    box: solaris-11.2-i387-virtualbox-nocm
    providers:
      - type: vsphere
        template_name: 'cs-general/templates/solaris-11-x86_64'
    debug-kit: true
    roles:
      - base

  - name: pe-20164nightly-master
    debug-kit: true
    box: puppetlabs/centos-7.2-64-nocm
    providers:
      - type: vsphere
        template_name: 'cs-general/templates/centos-7-x86_64'
      - type: openstack
        image: 'centos_7_x86_64'
    roles:
      - pe-forward-console
      - pe-memory-tuning2
      - el-stop-firewall
      - el-fix-path
      - medium-size
      - base

  - name: pe-20164nightly-agent
    debug-kit: true
    box: puppetlabs/centos-7.2-64-nocm
    providers:
      - type: vsphere
        template_name: 'cs-general/templates/centos-7-x86_64'
      - type: openstack
        image: 'centos_7_x86_64'
    roles:
      - el-stop-firewall
      - el-fix-path
      - base


  - name: pe-20173nightly-master
    debug-kit: true
    box: puppetlabs/centos-7.2-64-nocm
    providers:
      - type: vsphere
        template_name: 'cs-general/templates/centos-7-x86_64'
      - type: openstack
        image: 'centos_7_x86_64'
    roles:
      - pe-forward-console
      - pe-memory-tuning2
      - el-stop-firewall
      - el-fix-path
      - medium-size
      - base

  - name: pe-20173nightly-agent
    debug-kit: true
    box: puppetlabs/centos-7.2-64-nocm
    providers:
      - type: vsphere
        template_name: 'cs-general/templates/centos-7-x86_64'
      - type: openstack
        image: 'centos_7_x86_64'
    roles:
      - el-stop-firewall
      - el-fix-path
      - base


  - name: pe-20181nightly-master
    debug-kit: true
    box: puppetlabs/centos-7.2-64-nocm
    providers:
      - type: vsphere
        template_name: 'cs-general/templates/centos-7-x86_64'
      - type: openstack
        image: 'centos_7_x86_64'
    roles:
      - pe-forward-psql
      - pe-forward-console
      - pe-memory-tuning2
      - el-stop-firewall
      - el-fix-path
      - medium-size
      - base

  - name: pe-20181nightly-agent
    debug-kit: true
    box: puppetlabs/centos-7.2-64-nocm
    providers:
      - type: vsphere
        template_name: 'cs-general/templates/centos-7-x86_64'
      - type: openstack
        image: 'centos_7_x86_64'
    roles:
      - el-stop-firewall
      - el-fix-path
      - base

# vim: set ft=yaml:
