---
# Configuration for vagrant-openstack-provider
roles:
  base:
    provisioners:
      # A generic hosts provisioner is defined here so that networking is one
      # of the first things configured. Other roles can hook into the
      # 'base networking' provisioner and override settings.
      - {type: hosts, name: 'base networking'}
    providers:
      - type: openstack

        openstack_auth_url: '<%= ENV["OS_AUTH_URL"] %>'
        username: '<%= ENV["OS_USERNAME"] %>'
        password: '<%= ENV["OS_PASSWORD"] %>'

<% if ENV["OS_TENANT_NAME"] %>
        tenant_name: '<%= ENV["OS_TENANT_NAME"] %>'
<% elsif ENV["OS_PROJECT_NAME"] %>
        identity_api_version: '3'
        project_name: '<%= ENV["OS_PROJECT_NAME"] %>'
        domain_name: '<%= ENV["OS_USER_DOMAIN_NAME"] %>'
<% end %>
        floating_ip_pool: 'ext-net'

        image: centos_6_x86_64
        flavor: g1.small

        # NOTE: Change these to appropriate values for your OpenStack
        # environment. If using your own SSH keypair instead of the
        # shared Acceptance testing key, then change private_key_path
        # below in addition to the keypair_name setting.
        keypair_name: 'id_rsa-acceptance_pub'
        networks: ['network1']
        security_groups: ['sg0']

        overrides:
          ssh:
            private_key_path: '~/.ssh/id_rsa-acceptance'
            # NOTE: OpenStack _requires_ SSH username to be set, so we use the
            # default for CentOS. Ubuntu templates, use a different default
            # user, "ubuntu", and will have to be set on a per-instance basis.
            # Other templates may use other default users.
            username: centos
          pe_build:
            shared_installer: false
            download_root: http://pe-releases.puppetlabs.lan/:version
          vm_defaults:
            box: 'sharpie/dummy'
            synced_folders:
              - type: rsync
                host_path: '.'
                guest_path: '/vagrant'
                # Large working directories? Add em' here.
                rsync__exclude:
                  - .vagrant
                  - .bundle
                  - .pe_build
            provisioners:
              - type: hosts
                name: 'base networking'
                preserve_order: true
                sync_hosts: true
                add_localhost_hostnames: false
                hosts:
                  - ['@facter_ipaddress', ['@vagrant_hostnames']]
                imports: ['openstack']
                exports:
                  openstack:
                    - ['@facter_ipaddress', ['@vagrant_hostnames']]
                  global:
                    - ['@vagrant_ssh', ['@vagrant_hostnames']]

  windows:
    providers:
      - type: openstack
        user_data: |
          <powershell>
          # Set well-known Administrator password
          #
          # Standard password of "vagrant" doesn't meed the default Windows
          # password complexity requirements. Disabling those in PowerShell is
          # doable, but a bit gross, so we just bend the password to fit.
          net user Administrator "V@grant!"
          wmic useraccount where "name='Administrator'" set PasswordExpires=FALSE

          # Enable RDP
          set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
          netsh advfirewall firewall add rule name="RDP 3389" dir=in localport=3389 protocol=TCP action=allow

          # Enable WinRM
          winrm quickconfig -q
          winrm set winrm/config/winrs '@{MaxMemoryPerShellMB="0"}'
          winrm set winrm/config '@{MaxTimeoutms="7200000"}'
          winrm set winrm/config/service '@{AllowUnencrypted="true"}'
          winrm set winrm/config/service/auth '@{Basic="true"}'

          netsh advfirewall firewall add rule name="WinRM 5985" protocol=TCP dir=in localport=5985 action=allow

          net stop winrm
          sc.exe config winrm start=auto
          net start winrm

          # turn off PowerShell execution policy restrictions
          Set-ExecutionPolicy -ExecutionPolicy Bypass -Scope LocalMachine
          </powershell>
        overrides:
          winrm:
            username: Administrator
            password: 'V@grant!'
          vm_defaults:
            synced_folders:
              - host_path: '.'
                guest_path: '/vagrant'
                # Windows gets very confused when trying to find RSync.
                disabled: true

  1gb-memory:
    providers:
      - type: openstack
        flavor: 'g1.small'

  2gb-memory:
    providers:
      - type: openstack
        flavor: 'g1.medium'

  4gb-memory:
    providers:
      - type: openstack
        flavor: 'g1.large'

  #equivalent to 1-gb with added openstack flavor
  small-size:
    providers:
      - type: openstack
        #2 cpu, 2GB mem
        flavor: 'g1.medium'

  #equivalent to 2-gb with added openstack flavor
  medium-size:
    providers:
      - type: openstack
        #4 cpu, 4GB mem
        flavor: 'g1.large'

  #equivalent to 4-gb with added openstack flavor
  large-size:
    providers:
      - type: openstack
        #8 cpu, 8GB mem
        flavor: 'g1.xlarge'

# vim: set ft=yaml:
